<header class="header">
    <div class="header-content">
        <div id="hamburger">
            <span class="ham-slide"></span>
            <span class="ham-slide"></span>
            <span class="ham-slide"></span>
        </div>
        <div class="logo-container">Home<img class="logo" src="../../../assets/img/devautomation logo-1.png" alt="logo" />One</div>
        <div>

</header>

<section class="menu" id="menu">
    <div class="menu-container">
        <ul class="nav-links">
            <li class="nav-item" ui-sref="#">Something Else</li>
            <li class="nav-item" ui-sref="#">About</li>
            <li class="nav-item" ui-sref="#">Contact Us</li>
            <li class="nav-item" ui-sref="#">Login</li>
        </ul>
    </div>
</section>





<!-- <ul class="item-list">
        <li class="list-item"><img src="../../../assets/img/devautomation logo.jpg" alt="logo" /></li>
        <div class="right-float">
            <li class="logged-in"><button class="user-yes" ui-sref="home">Take Me Home</button></li>
            <li class="list-item is-logged-in">
                <button class="log-in">Login</button>
            </li>
            <li class="list-item is-logged-in">
                <button class="sign-up">Sign Up</button>
            </li>
        </div>
    </ul> -->
