<header class="header">
    <div class="header-content">
        <div id="hamburger">
            <span class="ham-slide"></span>
            <span class="ham-slide"></span>
            <span class="ham-slide"></span>
        </div>
        <div class="logo-container">Home<img class="logo" src="../../../assets/img/devautomation logo-1.png" alt="logo" />One</div>
        <div>

</header>

<section class="menu" id="menu">
    <div class="menu-box-container">
        <div class="lp-boxes" id="box1">
            <i class="fa fa-paper-plane fa-fw fa-3x" aria-hidden="true"></i>
            <p>Get Started</p>
        </div>
        <div class="lp-boxes" id="box2">
            <i class="fa fa-magic fa-fw fa-3x" aria-hidden="true"></i>
            <p>Our Tech</p>
        </div>
        <div class="lp-boxes" id="box3">
            <i class="fa fa-question fa-fw fa-3x" aria-hidden="true"></i>
            <p>FAQ</p>
        </div>
        <div class="lp-boxes" id="box4">
            <i class="fa fa-comments fa-fw fa-3x" aria-hidden="true"></i>
            <p>Comments</p>
        </div>
    </div>
    <div class="menu-list-container">
        <div class="lp-menu-item" id="lp-login"><p>Login</p></div>
        <div class="lp-menu-item" id="lp-contact"><p>Contact</p></div>
        <div class="social-hex">
            <div class="hexagon"><i class="fa fa-github fa-fw fa-2x" aria-hidden="true"></i></div>
            <div class="hexagon"><i class="fa fa-linkedin fa-fw fa-2x" aria-hidden="true"></i></div>
            <div class="hexagon"><i class="fa fa-facebook fa-fw fa-2x" aria-hidden="true"></i></div>
        </div>
    </div>
</section>





<!-- <ul class="item-list">
        <li class="list-item"><img src="../../../assets/img/devautomation logo.jpg" alt="logo" /></li>
        <div class="right-float">
            <li class="logged-in"><button class="user-yes" ui-sref="home">Take Me Home</button></li>
            <li class="list-item is-logged-in">
                <button class="log-in">Login</button>
            </li>
            <li class="list-item is-logged-in">
                <button class="sign-up">Sign Up</button>
            </li>
        </div>
    </ul> -->
