<about-dir></about-dir>
<head-dir></head-dir>

<section class="about-section">
    <div class="about-image-container"></div>
    <svg height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
                </svg>
    <div class="meet-the-team">
        <h1>Meet The Team</h1>
        <hr class="breaker">
        <p>
            The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land. Camelot! Well, she turned me into a newt. The Knights Who Say Ni demand a sacrifice! Well, how'd you
            become king, then?
        </p>
    </div>
    <div class="team-container">
        <div class="team-wrapper" id="craig">
            <div class="team-image-container">
                <img class="team-image" src="../../../assets/img/craig2.jpg" alt="craig" />
                <img class="team-shadow" src="../../../assets/img/flat-shadow.png" alt="" />
                <img class="hidden" src="http://visboo.com/img/29042010/66120.jpg" alt="filler" />
            </div>
            <h2>Craig Andersen</h2>
            <p>Backend Baller</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit.</p>
            <div class="about-social">
                <a href="https://github.com/crander7">
                    <div class=""><i class="fa fa-github fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.linkedin.com/in/craig-andersen">
                    <div class=""><i class="fa fa-linkedin fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.facebook.com/crander">
                    <div class=""><i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
        <div class="team-wrapper" id="jon">
            <div class="team-image-container">
                <img class="team-image" src="../../../assets/img/jon.jpg" alt="jon" />
                <img class="team-shadow" src="../../../assets/img/flat-shadow.png" alt="" />
                <img class="hidden" src="http://visboo.com/img/29042010/66120.jpg" alt="filler" />
            </div>
            <h2>Jonathan Junca</h2>
            <p>Javascript Junkie</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit.</p>
            <div class="about-social">
                <a href="https://github.com/devmountainautomation/smarthome">
                    <div><i class="fa fa-github fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <div><i class="fa fa-linkedin fa-fw fa-lg" aria-hidden="true"></i></div>
                <a href="https://www.facebook.com/dmsmarthome/">
                    <div><i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
        <div class="team-wrapper" id="noelle">
            <div class="team-image-container">
                <img class="team-image" src="../../../assets/img/noelle.jpg" alt="noelle" />
                <img class="team-shadow" src="../../../assets/img/flat-shadow.png" alt="" />
                <img class="hidden" src="http://visboo.com/img/29042010/66120.jpg" alt="filler" />
            </div>
            <h2>Noelle Reid</h2>
            <p>Full-Stack Fiend</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit.</p>
            <div class="about-social">
                <a href="https://github.com/rnoelle">
                    <div><i class="fa fa-github fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.linkedin.com/in/noellereid">
                    <div><i class="fa fa-linkedin fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.facebook.com/orangypineapple">
                    <div><i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
        <div class="team-wrapper" id="steven">
            <div class="team-image-container">
                <img class="team-image" src="../../../assets/img/steven.jpg" alt="steven" />
                <img class="team-shadow" src="../../../assets/img/flat-shadow.png" alt="" />
                <img class="hidden" src="http://visboo.com/img/29042010/66120.jpg" alt="filler" />
            </div>
            <h2>Steven Isbell</h2>
            <p>The Exterminator</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit.</p>
            <div class="about-social">
                <a href="https://github.com/steven-isbell">
                    <div><i class="fa fa-github fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.linkedin.com/in/steven-isbell">
                    <div><i class="fa fa-linkedin fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.facebook.com/steven.isbell.9">
                    <div><i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
    </div>
    <div class="our-story">
        <svg style="fill:#8D2B2E;" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 100 L50 0 L100 100" stroke-width="0"></path>
        </svg>

        <div class="tell-it">
            <img src="../../../assets/img/svg-laptop-ipad-iphone-icon-1.svg" alt="" />
            <p class="this-is-it">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit.
            </p>
        </div>
    </div>
    <div class="about-footer">
        <div class="social-hex">
            <a href="https://github.com/devmountainautomation/smarthome">
                <div class="hexagon"><i class="fa fa-github fa-fw fa-2x" aria-hidden="true"></i></div>
            </a>
            <div class="hexagon"><i class="fa fa-linkedin fa-fw fa-2x" aria-hidden="true"></i></div>
            <a href="https://www.facebook.com/dmsmarthome/">
                <div class="hexagon"><i class="fa fa-facebook fa-fw fa-2x" aria-hidden="true"></i></div>
            </a>
        </div>
        <div class="about-footer-image-container">
            <img src="../../../assets/img/devautomation logo-1.png" alt="" />
        </div>
    </div>
</section>
