<about-dir></about-dir>
<head-dir></head-dir>

<section class="about-section">
    <div class="about-image-container"></div>
    <svg height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
                </svg>
    <div class="meet-the-team">
        <h1>Meet The Team</h1>
        <hr class="breaker">
        <p>
            The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land. Camelot! Well, she turned me into a newt. The Knights Who Say Ni demand a sacrifice! Well, how'd you
            become king, then?
        </p>
    </div>
    <div class="team-container">
        <div class="team-wrapper" id="craig">
            <div class="team-image-container">
                <img class="team-image" src="../../../assets/img/craig2.jpg" alt="craig" />
                <img class="team-shadow" src="../../../assets/img/flat-shadow.png" alt="" />
                <img class="hidden" src="" alt="filler" />
            </div>
            <h2>Craig Andersen</h2>
            <p>Backend Baller</p>
            <p>In his spare time Craig enjoys taking his family on spontaneous vacations, working on projects around the house, and spending time with his family. He is always up for a challenge, and won't stop until a job is done right.</p>
            <div class="about-social">
                <a href="https://github.com/crander7">
                    <div class=""><i class="fa fa-github fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.linkedin.com/in/craig-andersen">
                    <div class=""><i class="fa fa-linkedin fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.facebook.com/crander">
                    <div class=""><i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
        <div class="team-wrapper" id="jon">
            <div class="team-image-container">
                <img class="team-image" src="../../../assets/img/jon.jpg" alt="jon" />
                <img class="team-shadow" src="../../../assets/img/flat-shadow.png" alt="" />
                <img class="hidden" src="" alt="filler" />
            </div>
            <h2>Jonathan Junca</h2>
            <p>Javascript Junkie</p>
            <p>After graduating with a degree in Finance from BYU, I joined a finance company in a technical role.  I excelled in the programming assignments given to me, and decided to leave my job to pursue a more specialized skill set in web development.</p>
            <div class="about-social">
                <a href="https://github.com/junca8">
                    <div><i class="fa fa-github fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.linkedin.com/in/jonathanjunca">
                    <div><i class="fa fa-linkedin fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.facebook.com/jonathan.junca.9">
                    <div><i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
        <div class="team-wrapper" id="noelle">
            <div class="team-image-container">
                <img class="team-image" src="../../../assets/img/noelle.jpg" alt="noelle" />
                <img class="team-shadow" src="../../../assets/img/flat-shadow.png" alt="" />
                <img class="hidden" src="" alt="filler" />
            </div>
            <h2>Noelle Reid</h2>
            <p>Full-Stack Fiend</p>
            <p>Professional musician turned coder, I love finding creative solutions to problems and discovering new technologies to make ordinary things work in an extraordinary way.</p>
            <div class="about-social">
                <a href="https://github.com/rnoelle">
                    <div><i class="fa fa-github fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.linkedin.com/in/noellereid">
                    <div><i class="fa fa-linkedin fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.facebook.com/orangypineapple">
                    <div><i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
        <div class="team-wrapper" id="steven">
            <div class="team-image-container">
                <img class="team-image" src="../../../assets/img/steven.jpg" alt="steven" />
                <img class="team-shadow" src="../../../assets/img/flat-shadow.png" alt="" />
                <img class="hidden" src="" alt="filler" />
            </div>
            <h2>Steven Isbell</h2>
            <p>Kall Me Karam</p>
            <p>Steven comes from a background of farming then finance working in the banking industry. He started coding in June with his first div tag and is now building clean, full-stack websites. </p>
            <div class="about-social">
                <a href="https://github.com/steven-isbell">
                    <div><i class="fa fa-github fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.linkedin.com/in/steven-isbell">
                    <div><i class="fa fa-linkedin fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.facebook.com/steven.isbell.9">
                    <div><i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
        <div class="team-wrapper" id="semo">
            <div class="team-image-container">
                <img class="team-image" src="../../../assets/img/semo.jpg" alt="semo" />
                <img class="team-shadow" src="../../../assets/img/flat-shadow.png" alt="" />
                <img class="hidden" src="" alt="filler" />
            </div>
            <h2>Sebastian Ernst</h2>
            <p>Project Papa</p>
            <p>Sebastian (Semo) Ernst is a dane turned californian turned utahn. He has a sharp mind for code and can solve complex javascript problems with ease. Semo helped manage the production of this project and is as solid a coder as there is.</p>
            <div class="about-social">
                <a href="https://github.com/semoog">
                    <div><i class="fa fa-github fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.linkedin.com/in/sebmernst">
                    <div><i class="fa fa-linkedin fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
                <a href="https://www.facebook.com/smernst">
                    <div><i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
    </div>
    <div class="our-story">
        <svg style="fill:#8D2B2E;" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 100 L50 0 L100 100" stroke-width="0"></path>
        </svg>

        <div class="tell-it" id="svg-container">
            <img class="media-svg" src="../../../assets/img/svg-laptop-ipad-iphone-icon-1.svg" alt="" />
            <p class="this-is-it">
                HomeOne is a project that was constructed as the culminating finale of our teams time at DevMountain. It represents twelve weeks of growth from little to no experience with code to building a full-stack application in a team setting.
            </p>
        </div>
    </div>
    <div class="about-footer">
        <div class="social-hex">
            <a href="https://github.com/devmountainautomation/smarthome">
                <div class="hexagon"><i class="fa fa-github fa-fw fa-2x" aria-hidden="true"></i></div>
            </a>
            <div class="hexagon"><i class="fa fa-linkedin fa-fw fa-2x" aria-hidden="true"></i></div>
            <a href="https://www.facebook.com/dmsmarthome/">
                <div class="hexagon"><i class="fa fa-facebook fa-fw fa-2x" aria-hidden="true"></i></div>
            </a>
        </div>
        <div class="about-footer-image-container">
            <img src="../../../assets/img/devautomation logo-1.png" alt="" />
        </div>
    </div>
</section>
