<section>
    <aside class="dash-sidebar">
        <div class="dash-side-container">
            <ul class="dash-list">
                <li><img src="{{user.photo}}" alt="" /></li>
                <li ui-sref="dashboard" class="dash-list-item"><i class="fa fa-tachometer fa-fw" aria-hidden="true"></i>Dashboard</li>
                <li ui-sref="manage" class="dash-list-item"><i class="fa fa-tablet fa-fw" aria-hidden="true"></i>Manage Devices</li>
                <li ui-sref="addDevice" class="dash-list-item"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add Device</li>
                <li ui-sref="getStarted" class="dash-list-item"><i class="fa fa-play-circle fa-fw" aria-hidden="true"></i>Get Started</li>
                <li ui-sref="about" class="dash-list-item"><i class="fa fa-steam fa-fw" aria-hidden="true"></i>Our Team</li>
                <li class="dash-list-item update-user"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>Update Profile</li>
                <li ng-click="logout()" class="dash-list-item"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>Logout</li>
            </ul>
        </div>
    </aside>
</section>

<update></update>
