<head-dir></head-dir>
<div class="filler">
</div>
<section class="login">
  <div class="login-box">
    <h1>Welcome</h1>
    <form class="local-login" ng-submit="localLogin()">
      <input type="email" ng-model="email" placeholder="Email">
      <input type="password" ng-model="password" placeholder="Password">
      <button type="button" name="login">Login</button>
    </form>
    <a class="thirdp-auth-button" href="/auth/google">
      <i class="fa fa-google"></i> Login with Google
    </a>
    <a class="thirdp-auth-button" href="/auth/facebook">
      <i class="fa fa-facebook"></i> Login with Facebook
    </a>
    <section class="signup-box">
      <div>
        <h3>- or -</h3>
      </div>

      <signup-form></signup-form>

    </section>
  </div>
</section>
