<head-dir></head-dir>

<section class="login">
  <div class="login-box">
    <h2>Welcome</h2>
    <form class="local-login" ng-submit="localLogin()">
      <input type="text" ng-model="email" placeholder="Email">
      <input type="text" ng-model="password" placeholder="Password">
    </form>
    <a class="thirdp-auth-button" href="/auth/google">
      <img src="..\..\..\assets\img\google-login.png" alt="google login" />
    </a>
    <a class="thirdp-auth-button" href="/auth/facebook">
      <img src="..\..\..\assets\img\facebook-login.png" alt="facebook login" />
    </a>
  </div>
</section>
<div>
  <h3>- or -</h3>
</div>
<section class="signup-box">

<signup-form></signup-form>

</section>
