<head-dir></head-dir>
<landing-dir></landing-dir>
<section class="landing-page">
    <div class="landing-container">
        <div class="landing-banner">
            <h1>All Tech, <br>
              No Hassle.</h1>
            <button type="button" class="landing-CTA" ui-sref="#">Get Started</button>
        </div>
        <div class="skew-left"></div>
        <div class="skew-right"></div>
    </div>
    <div class="lp-about">
        <div class="what-we-do">
            <h1>Manage your home accessories in one place.</h1>
            <div class="lp-img-container">
                <div class="lp-img-wrapper">
                    <img src="../../../assets/img/protect-icon-01.png" alt="" />
                    <p>Security, Analytics, Accessibility</p>
                </div>
                <div class="lp-img-wrapper">
                    <img src="../../../assets/img/protect-icon-02.png" alt="" />
                    <p>Mobile Access</p>
                </div>
                <div class="lp-img-wrapper">
                    <img src="../../../assets/img/protect-icon-03.png" alt="" />
                    <p>Made For You</p>
                </div>
            </div>
        </div>
        <div class="why-we-do">

        </div>
        <div class="who-we-are">

        </div>

    </div>
</section>
