<head-dir></head-dir>
<landing-dir></landing-dir>
<section class="landing-page">
    <div class="landing-container">
        <div class="landing-banner">
            <h1>Generic Banner Here</h1>
            <button type="button" class="landing-CTA">Get Started</button>
        </div>
        <div class="skew-left"></div>
        <div class="skew-right"></div>
    </div>
    <div class="lp-about">
        <div class="who-we-are">

        </div>
        <div class="what-we-do">

        </div>
        <div class="why-we-do">

        </div>

    </div>
</section>
