<head-dir></head-dir>
<landing-dir></landing-dir>
<section class="landing-page">
  <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
                </svg>
  <div class="landing-container">
    <div class="landing-banner">
      <h1>All Tech, <br>
              No Hassle.</h1>
            <button type="button" class="landing-CTA" ui-sref="getStarted">Get Started</button>
        </div>

    <!-- <div class="skew-left"></div>
        <div class="skew-right"></div> -->
  </div>
  <div class="dummy-content">
    <h1>Why Us?</h1>
    <hr class="breaker">
  </div>
  <div class="lp-about">
    <div class="what-we-do">
      <h1>Manage your home accessories in one place.</h1>
      <div class="lp-img-container">
        <div class="lp-img-wrapper">
          <img src="../../../assets/img/protect-icon-01.png" alt="icon" />
          <p>Analytics & Accessibility</p>
        </div>
        <div class="lp-img-wrapper">
          <img src="../../../assets/img/protect-icon-02.png" alt="icon" />
          <p>Mobile Access</p>
        </div>
        <div class="lp-img-wrapper">
          <img src="../../../assets/img/protect-icon-03.png" alt="icon" />
          <p>Made For You</p>
        </div>
      </div>
    </div>
    <div class="why-we-do">
      <h2>We Know What Your Time Is Worth.</h2>
      <p>You're busy. <strong>We get it. </strong>We're here to simplify and streamline your daily activities to allow you more time to pursue your passions.</p>
    </div>
    <div class="what-we-offer" id="tech">
      <h1>The Tech</h1>
      <hr class="breaker-inverse">
      <div class="img-flow-container">
        <div class="circle-wrapper">
          <img src="../../../assets/img/circle-sky-control-panel.png" alt="item" />
          <p>Central Control</p>
        </div>
        <div class="circle-wrapper">
          <img src="../../../assets/img/circle-smart-locks-a.png" alt="item" />
          <p>Security & Analytics</p>
        </div>
        <div class="circle-wrapper">
          <img src="../../../assets/img/circle-garage-control.png" alt="item" />
          <p>Automation</p>
        </div>
        <div class="circle-wrapper">
          <img src="../../../assets/img/circle-element-therm.png" alt="item" />
          <p>Climate</p>
        </div>
        <div class="circle-wrapper">
          <img src="../../../assets/img/circle-amazon-echo.png" alt="item" />
          <p>Amazon Echo Ready</p>
        </div>
        <div class="circle-wrapper">
          <img src="../../../assets/img/circle-247-vid-recording.png" alt="item" />
          <p>24/7 Support</p>
        </div>
      </div>
    </div>

  </div>
  <div class="the-dream-team">
    <div class="team-container">
      <h1>The Team</h1>
      <hr class="breaker-inverse">
      <p>Craig Andersen</p>
      <p>Jonathan Junca</p>
      <p>Noelle Reid</p>
      <p>Steven Isbell</p>
    </div>
  </div>
  <footer class="lp-footer">
    <!-- <div class="social-media">
            <i class="fa fa-facebook-official fa-fw fa-2x" aria-hidden="true"></i>
            <i class="fa fa-twitter-square fa-fw fa-2x" aria-hidden="true"></i>
            <i class="fa fa-github fa-fw fa-2x" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square fa-fw fa-2x" aria-hidden="true"></i>
        </div> -->
    <div class="legal">Copyright (c) 2016 Home One All Rights Reserved.</div>
  </footer>
</section>
