<dash-dir></dash-dir>
<head-dir></head-dir>

<section class="dash-section">
    <div class="notifications">
        <div class="notifications-container" ng-repeat="note in notes" id="{{note.id}}">
            <div class="notifications-wrapper">
                <div class="circle-left" ng-click="updateNote(note.id)"><i class="fa fa-circle-thin fa-lg fa-fw" aria-hidden="true"></i></div>
                <div class="central-note-wrapper">
                    <div class="alert-time"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
                        <p>{{note.timeStamp}}</p>
                    </div>
                    <div class="alert-info">
                        <p>{{note.nickname}} {{note.status}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="no-notes hidden`">
        <h1>You Have No Notifications</h1>
    </div>
    <!-- <div class="dash-label">
        <h1>My Data</h1>
    </div>
    <div class="widget-container">
        <div class="add-widget">
            <i class="fa fa-plus fa-fw fa-3x" aria-hidden="true"></i>
            <h1>Add Widget</h1>
        </div>
    </div> -->
</section>


<!-- <section class="widget-selector"> -->
<!-- Include ng-repeat of widget in widgets to grab users availabe widgets -->
<!-- <div class="select-container">
        <i class="fa fa-close fa-fw fa-lg close-modal"></i>
        <div class="widget-card">
            <h2>Widget Type</h2>
            <h3>Widget Name</h3>
            <img src="" alt="widget thumbnail" />
        </div>
    </div>
</section> -->
