/*Header*/
.header {
    width: 100vw;
    height: 7vh;
    padding: 5vh;
    position: fixed;
    z-index: 5;
    background: transparent;
    color: #fff;
    transition: all 0.2s ease-in;

    .header-content {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        #hamburger {
            width: 35px;
            height: 35px;
            position: absolute;
            cursor: pointer;
            left: 5%;
            top: 22px;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;

            .span-invert {
                background: #000;
            }

            span {
                display: block;
                position: absolute;
                background: #fff;
                height: 5%;
                width: 100%;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;
            }
        }

        .logo-container {
            font-family: 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;

            .logo {
                width: 40px;
                height: 35px;
                margin: 0 1%;
            }
        }
    }
}

.menu-open {
    overflow: hidden;
}

.active {
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    color: #000;
}

#hamburger span:nth-child(1) {
    top: 0;
}

#hamburger span:nth-child(2) {
    top: 9px;
}

#hamburger span:nth-child(3) {
    top: 18px;
}

#hamburger.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#hamburger.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

.menu {
    height: 100vh;
    width: 100vw;
    background: black;
    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 4;

    .menu-container {
        padding: 2%;

        .nav-links {
            width: 100%;
            height: 50%;
            text-align: center;
            margin-top: 50%;

            .nav-item {
                color: #fff;
                font-size: 200%;
                margin: 5%;
            }
        }
    }
}

.landing-page {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
    background: url('../assets/img/landing-page-smaller.jpg')center no-repeat;
    background-size: cover;
    // filter: blur(5px);
    .landing-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;

        .landing-banner {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.5rem;
            color: #fff;

            .landing-CTA {
                background: none;
                border: none;
                color: #fff;
                padding: 1rem;
                border: 3px solid #19A2C6;
                outline: none;

                &:active {
                    background-color: #19A2C6;
                }
            }
        }
    }
}

.skew-left {
    width: 50%;
    height: 30vh;
    background: linear-gradient(#065A82, #3c454e);
    transform: skewY(10deg);
    position: absolute;
    left: 0;
    bottom: -150px;
    z-index: -1;
}

.skew-right {
    width: 51%;
    height: 30vh;
    background: linear-gradient(#065A82, #3c454e);
    transform: skewY(-10deg);
    position: absolute;
    right: 0;
    bottom: -150px;
    z-index: -1;
}

.lp-about {
    height: 100vh;
    width: 100vw;

    .dummy-content {
        text-align: center;
        margin-top: -10%;
        color: #fff;
    }

    .what-we-do {
        height: 65vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: url('http://images.vivintcdn.com/global/vivint.com/home/2016/home-protect-bg-r2.jpg')center center no-repeat;
        background-size: auto;
        padding: 5%;

        h1 {
            text-align: center;
            color: #fff;
            padding: 5%;
        }

        .lp-img-container {
            height: 40%;
            width: 100%;
            padding: 7%;
            display: flex;
            justify-content: space-between;

            .lp-img-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33%;
                text-align: center;

                img {
                    width: 35px;
                    height: 35px;
                    margin-bottom: 10px;
                }

                p {
                    color: #fff;
                    font-family: 'Lato';
                    font-weight: 100;
                }
            }
        }
    }

    .why-we-do {
        height: 35vh;
        width: 100vw;
        background: #EFC7C2;
        margin: 0;
        text-align: center;

            h2 {
                font-size: 1.5em;
            }
    }
}
