body,
html {
    height: 100%;
    width: 100%;
}
/*Header*/
.header {
    width: 100vw;
    height: 7vh;
    position: fixed;
    z-index: 5;
    background: transparent;
    // -webkit-box-shadow: 0 4px 5px 0 rgba(153,153,153,1);
    // -moz-box-shadow: 0 4px 5px 0 rgba(153,153,153,1);
    // box-shadow: 0 4px 5px 0 rgba(153,153,153,1);
    .header-content {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 1vw;

        .hamburger {
            width: 35px;
            height: 35px;
            position: absolute;
            cursor: pointer;
            left: 2%;
        }

        .logo-container {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;

            .logo {
                width: 40px;
                height: 35px;
                margin: 0 1%;
            }
        }
    }
}

.menu {
    height: 93vh;
    width: 100vw;
    margin-top: 7vh;
    background: black;
    display: none;
    position: absolute;
    overflow: hidden;
    z-index: 4;

    .menu-container {
        padding: 2%;

        .nav-links {
            width: 100%;
            height: 50%;
            text-align: center;
            margin-top: 50%;

            .nav-item {
                color: #fff;
                font-size: 200%;
                margin: 5%;
            }
        }
    }
}

.close {
    float: right;
    color: #fff;
    margin-top: 2%;
}

.landing-page {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
    background: url('https://static.pexels.com/photos/106399/pexels-photo-106399.jpeg')center no-repeat;
    background-size: cover;
    // -webkit-filter: blur(5px);
    // -moz-filter: blur(5px);
    // -o-filter: blur(5px);
    // -ms-filter: blur(5px);
    // filter: blur(5px);

    .landing-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;

        .landing-banner {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 2rem;
            color: #fff;

            .landing-CTA {
                height: 7vh;
                border-radius: 5px;
                border: none;
                color: #fff;
                outline: none;
            }
        }
    }
}

.skew-left {
    width: 50vw;
    height: 30vh;
    background: black;
    transform: skewY(10deg);
    position: absolute;
    left: 0;
    bottom: -150px;
    z-index: -1;
}

.skew-right {
    width: 50vw;
    height: 30vh;
    background: black;
    transform: skewY(-10deg);
    position: absolute;
    right: 0;
    bottom: -150px;
    z-index: -1;
}

.lp-about {
    height: 100vh;
    width: 100vw;
    background: black;
}
