@media (max-width: 769px) {
    #manage-head {
        display: block;
    }

    #manage-side {
        display: none;
    }

    #devices {
        width: 100vw;
    }
}

.device-page {
  background: #36454f;
  aside {
    position: fixed;
    left: 0;
    top: 65vh;
    background: #ccc;
    box-shadow: 2px 2px 3px 1.5px #111;
    height: 5.5rem;
    width: 15rem;
    div {
      width: 1rem;
      height: 100%;
      background: #17A2C6;
      float: left;
      margin-right: 0.5rem;
    }
    a {
      height: 5.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-direction: row;
      text-decoration: none;
    }
    p {
      max-width: 10em;
      text-align: center;
    }
    img {
      height: 3.5rem;
    }
    &:hover {
      opacity: 0.85;
    }
  }
}
.device-page aside.pubnub-aside {
  top: 75vh;
  padding-right: 0.5rem;
  div {
    background: #C52128;
  }
  img {
    height: 2.5rem;
  }
}
.device-page aside.get-started-aside {
  top: 45vh;
  height: 5.5rem;
  div {
    background: #F56A4C;
  }
  img {
    height: 3rem;
    margin-right: .5rem;
  }
}
.devices {
  padding: 5vh 5vw 5vw;
  background: #36454f;
  min-height: 100vh;
  max-width: 1200px;
  width: 85vw;
  float: right;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  h1 {
    margin-left: 1rem;
    font-weight: 100;
    color: #F56A4C;
    u {
      text-decoration: none;
      border-bottom: 0.5px solid #F56A4C;
    }
  }
  .device-box {
    overflow: auto;
    .this-device-card {
      color: #17a2c6;
      text-align: center;
      float: left;
      padding: 1rem;
      margin: 0;
      max-width: 165px;
      i {
        float: right;
        font-size: 1.7rem;
        color: #666;
        margin-bottom: -1rem;
        cursor: pointer;
      }
      div {
        font-size: 1.25em;
      }
      img {
        clear: both;
        margin: 1rem auto;
        max-height: 18vh;
      }
      hr {
        border-color: #F56A4C;
        width: 90%;
      }
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &:hover {
        background: rgba(176, 172, 174, 0.18);
      }
    }
    .add-device-card {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      text-align: center;
      width: 165px;
      height: 33vh;
      cursor: pointer;
      i {
        font-size: 4rem;
        color: #777;
        max-height: 4vh;
        margin-bottom: 5vh;
        &::after {
          clear: both;
        }
      }
      &:hover {
        background: rgba(176, 172, 174, 0.18);
      }
    }
  }
}
.setting-menu {
  background: #343f46;
  padding: 5vw;
  position: fixed;
  top: 10vh;
  left: 5vw;
  width: 90%;
  max-height: 90vh;
  max-width: 800px;
  hr {
    clear: both;
  }
  button {
    background: #395161;
    border: none;
    padding: 1rem 3rem;
    margin: 0 auto;
    color: #F56A4C;
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.75em;
    &:hover {
      background: #3b5e75;
    }
  }
  #appended {
    position: relative;
  }
  i {
    position: absolute;
    top: 0;
    right: -1vw;
    text-align: right;
    cursor: pointer;
  }
  h2 {
    margin-bottom: 1rem;
    font-size: 1em;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.5em;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    background: none;
    border: none;
    font-family: 'Lato';
    color: #F56A4C;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
  .checkbox-section {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    input[type="checkbox"] {
      opacity: 0;
    }
    .check-box {
      width: 100%;
      clear: both;
      display: flex;
      align-items: center;
      h4 {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
  }
}
.squaredOne {
  position: relative;
  width: 1.15rem;
  float: left;
  margin-right: 0.75rem;
}
.squaredOne label {
  margin-top: 0.35rem;
  float: left;
  display: block;
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 100px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  background: #333;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
.squaredOne input[type=checkbox]:checked + label {
  background: #26ca28;
}
.enable-section {
  display: flex;
  align-items: center;
  h4 {
    font-size: 0.75rem;
    float: left;
  }
  input[type="checkbox"] {
    opacity: 0;
  }
}
.slide-checkbox {
  width: 120px;
  height: 40px;
  background: #333;
  margin: 20px 0.5rem;
  float: left;
  border-radius: 50px;
  position: relative;
}
.slide-checkbox:before {
  content: 'On';
  position: absolute;
  top: 12px;
  left: 13px;
  height: 2px;
  color: #26ca28;
  font-size: 16px;
}
.slide-checkbox:after {
  content: 'Off';
  position: absolute;
  top: 12px;
  left: 84px;
  height: 2px;
  color: #111;
  font-size: 16px;
}
.slide-checkbox label {
  display: block;
  width: 52px;
  height: 22px;
  border-radius: 50px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #aaa;
}
.slide-checkbox input[type=checkbox]:checked + label {
  left: 60px;
  background: #26ca28;
}


@media screen and (min-width: 1500px) {
  .mobile-hidden {
    display: inline;
  }
  .setting-menu {
    top: 20vh;
    position: absolute;
    max-width: 1000px;
  }

  .devices .device-box .this-device-card  {
    margin: 0.5rem;
    max-width: 1400px;
    p {
      max-width: 18vw;
    }
  }

  .devices .device-box .add-device-card {
    padding-top: 12vh;
      padding-left: 5vw;
      padding-right: 5vw;
  }
}
