<div class="started-arrow-top">
  <img src="../../../assets/img/getStarted/up-arrow.png" class="move-up">
</div>

<div id="fullpage">
    <div class="section slider" data-anchor="/section/section{{slide.id}}" ng-repeat="slide in slides">
      <div class="slider-text-container">
        <span class="slider-header">{{slide.id}}: {{slide.header}}</span>
        <span class="slider-text">{{slide.text}}</span>
        <img ng-src="{{slide.img}}" class="slider-img">
      </div>
    </div>
</div>


<div class="started-arrow-bottom">
  <img src="../../../assets/img/getStarted/down-arrow.png" class="move-down">
</div>
